<h2><%= @profile.user.username %></h2>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
  <li><a data-toggle="tab" href="#psa_history">PSA History</a></li>
  <li><a data-toggle="tab" href="#cholesterol_history">Cholesterol History</a></li>
  <li><a data-toggle="tab" href="#medication">Medication History</a></li>
</ul>
  
<div class="tab-content">
  <div id="profile" class="tab-pane fade in active">
    <%= render 'profile_fields' %>
  </div>
  
  <div id="psa_history" class="tab-pane fade">
    PSA History
  </div>
  
  <div id="cholesterol_history" class="tab-pane fade">
    Cholesterol history
  </div>
  
  <div id="medication" class="tab-pane fade">
    Medication History
  </div>
</div>

