<div class="nested-fields well">
  <%= f.number_field :psa, class: "form-control", placeholder: "PSA", :step => 0.1, autofocus:true %>
  <%= f.text_field :month, class: "form-control", placeholder: "Month" %>
  <%= f.number_field :year, class: "form-control", placeholder: "Year" %>
  <%= link_to_remove_association "remove psa history", f %>
</div>
