<div class='main'>
  <p>
    <strong>Prostate health</strong>, men's health and cholesterol are very closesly related.  Cholesterol is
    a great measure of how well the body is doing with the food we ingest.
  </p>

  <p>
    Some studies have shown a correlation between cholesterol and cancer.  And then there is prostate cancer.
  </p>

  <p>
    The Prostate gland will typically enlarge as a man ages.  The big question is why?  Some experts say it's
    genetics or it happens to every male it is just a matter of when.
  </p>

  <p>
    I believe, based on tons of research and consulting with health organizations, that prostate enlargement is
    due to an imbalance in male hormones and diet.
  </p>

  <p>
    This site was established as a place to share our information and story in a way that can benefit each of us
    and the modern man's health.
  </p>

  <p>
    This site is a work in progress and we are in an evolution on men's healh and this site is intended to
    participate and help in inproving men's health everywhere.
  </p>

  <p>
    Feel free to comment on our <%= link_to 'forum', topics_path %>.
  </p>

  <p>
    Here's wishing each and everyone of us good health
  </p>

  <p>
    <%= link_to 'Register and tell your story', new_user_registration_path %>
  </p>
</div>

