@import "bootstrap";
$error-outline: #A94442;
$row-height: 34px;

html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  overflow: hidden;
}

.table-scroll {
  overflow-x: auto;
}

table {
  th {
    padding: 5px;
  }
  td, th {
    border: 1px solid black;
  }
  .form-control {
    width: auto;
    margin-bottom: 0;
    border: 0;
    max-width: 140px;
  }
  .has-error .form-control {
    border: 1px solid $error-outline;
  }
  select, input[type="number"] {
    min-width: 100%;
  }
  input[type="number"] {
    max-width: 80px;
  }
  input[type="checkbox"] {
    margin: 4px 45px 0 45px;
    height: 15px;
    width: 15px;
  }
}

.trashcan {
  border: 0;
  padding: 0;
  i {
    background: black;
    line-height: $row-height;
    width: $row-height;
    color: white;
    font-size: 18px;
    &:hover {
      color: red;
    }
  }
}

.form-control, .chosen-container {
  margin-bottom: 15px;
}

.has-error .form-control {
  margin-bottom: 0
}

.alert {
  margin: 0;
}

label.required:after {
  content: " *";
}

.chosen-select, .chosen-single {
  width: 100%;
}

.medication_table {
  font-size: 14px;
  td {
    color: #555555;
    padding: 6px 12px;
  }
}
