@import "bootstrap";
$error-outline: #A94442;
$min-width: 80px;
$row-height: 34px;

html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  overflow: hidden;
}

.table-scroll {
  overflow-x: auto;
}

table {
  .form-control {
    width: auto;
    margin-bottom: 0;
    border: 0;
  }
  input[type="checkbox"] {
    margin: 4px 45px 0 45px;
    height: 15px;
    width: 15px;
  }
  .has-error .form-control {
    border: 1px solid $error-outline;
  }
  .form-control, th {
    max-width: 120px;
    min-width: $min-width;
  }
  th {
    padding: 5px;
  }
  td, th {
    text-align: left;
    border: 1px solid black;
  }
  .table-select {
    position: absolute;
    width: $min-width;
    .chosen-container {
      margin: 0;
      position: relative;
      bottom: 17px;
      height: $row-height;
      right: 1px;
      .chosen-single {
        border: 0;
        background-image: none;
        height: 100%
      }
      span {
        line-height: $row-height;
      }
      span + div {
        top: 4px;
      }
    }
  }
}

.trashcan {
  border: 0;
  padding: 0;
  i {
    background: black;
    line-height: $row-height;
    width: $row-height;
    color: white;
    font-size: 18px;
    &:hover {
      color: red;
    }
  }
}

.line {
  fill: none;
  stroke: black;
}

.form-control, .chosen-container {
  margin-bottom: 15px;
}

.has-error .form-control {
  margin-bottom: 0
}

.alert {
  margin: 0;
}

label.required:after {
  content: " *";
}

.chosen-select, .chosen-single {
  width: 100%;
}
