#dashboard {
  background-color: #5673a2;
  margin-right: 10px;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  ul {
    padding: 0;
    li {
      list-style: none;
      a {
        display: block;
        color: white;
        padding: 20px;
        text-decoration: none;
      }
      &:hover {
        background-color: #506a94;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #dashboard ul li a {
    padding: 20px 5px;
  }
  
  #dashboard {
    margin: 0;
    padding: 0;
  }
}