/* styling for forum models topics, posts, and comments */

.topic, .post {
	border-bottom: 1px solid #d1d1d1;
	p {
	  color: #888;
	  font-size: small;
	}
}

.comment:nth-child(even) {
	background-color: #f4f4f9;
}

.comment {
	margin: 10px 0;
}

.highlight {
  background: yellow;
}

.margin-level-0 {
	margin-left: 5%;
}

.margin-level-1 {
	margin-left: 15%;
}

.margin-level-2 {
	margin-left: 20%;
}

.margin-level-3 {
	margin-left: 25%;
}

.margin-level-4 {
	margin-left: 30%;
}

.margin-level-5 {
	margin-left: 35%;
}